.set-size { 
}

input, select {
	outline: 0;
}

.hint{
    padding: 15px 40px;
    font-size: 13px;
    line-height: 14px;
    color: #373737;
    font-weight: 600;
    margin-bottom: 20px;
    border: 1px solid #d8d7d3;
    background: #f0efeb url(../image/module_template/label.png) top left no-repeat;
}

.hint a{
    color: #3eb525;
}

.hint-tooltip{
    display: inline-block;
    background: url(../image/module_template/hint_tooltip.png) center no-repeat;
    width: 17px;
    cursor: pointer;
    height: 17px;
}

#blog_tags h3 { 
	font-family:Poppins;
	font-size:25px;
	line-height:25px;
	color:#3ebb24;
	font-weight:normal;
	padding-left:5px; 
	padding-top: 10px;
	padding-bottom: 10px;
}

#blog_tags h4 { 
	font-size:20px;
	color:#3ebb24;
	font-family:Poppins;
	line-height:20px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px; 
}

#blog_tags h5 { 
	font-size:16px;
	color:#3ebb24;
	font-family:Poppins;
	line-height:16px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:14px 0px 8px 0px;
	margin:0px; 
}

/* Content */

#content {
	min-height: 700px;
}

#content,
body {
	background: #f0efeb;
}

#blog_tags .content { 
	background: #fff;
    margin-bottom: 20px;
    font-family: Poppins; 
    border: 1px solid #c8c8c8;
}

	#blog_tags .content > div {
		position: relative;
		margin: -1px;
		background:url(../image/module_template/bg-tabs.png) top left repeat-y;
	}
	
		#blog_tags .content > div .tabs {
			min-height: 400px;
		}
		
			#blog_tags .content > div .tabs .main-tabs {
				width: 165px;
				padding: 0px;
				border: none;
				margin: 0px;
				position: absolute;
			}
			
            #blog_tags .content > div .tabs .main-tabs a {
					display:block;
					float:none;
					clear:both;
					border:none;
					background:none;
					margin:0px;
					padding:0px;
					border-bottom:1px solid #4b4b4b;
					text-align:left;
					padding:30px 25px 0px 20px;
					font-family:Poppins;
					color:#fff;
                    font-weight: 600;
                    line-height: 11px;
                    text-transform: uppercase;
					font-size:10px;
					height: 70px;
					text-align: left;
					text-decoration: none;
                    -webkit-transition: background-color .2s ease-in;  
                    -moz-transition: background-color .2s ease-in;  
                    -o-transition: background-color .2s ease-in;  
                    transition: background-color .2s ease-in;  
				}
				
					#blog_tags .content > div .tabs .main-tabs a:hover {
                        background-color: #4b4b4b;
                    }
					#blog_tags .content > div .tabs .main-tabs a.selected {
						background: #4b4b4b url(../image/module_template/tab-active.png) top right no-repeat;
					}
					
						#blog_tags .content > div .tabs .main-tabs img {
							vertical-align: top;
                            float: right
						}
						
					
						#blog_tags .content > div .tabs .main-tabs #module-add img {
							vertical-align: top;
                            float: left;
                            margin-right: 10px;;
						}
						
						#blog_tags .content > div .tabs .main-tabs span {
							display:block;
							float:none;
							clear:both;
                            cursor: pointer;
							border:none;
							background:none;
							margin:0px;
							padding:0px;
							text-align:left;
							padding: 20px 20px 0px 20px;
							font-family:Poppins;
							color:#3ebb24;
							font-size:10px;
                            line-height: 11px;
                            font-weight: 600;
							height:70px;
							text-align: left;
						}
						
							#blog_tags .content > div .tabs .main-tabs span img {
								cursor: pointer;
							}
			
			#blog_tags .content > div .tabs .tab-content {
				padding: 20px 30px 30px 195px;
			}
			
				#blog_tags .content > div .tabs .tab-content table.form {
					margin: 0px;
				}
					
					#blog_tags .content > div .tabs .tab-content table.form > tbody > tr > td {
						font-family: Poppins;
                        color: #373737;
                        font-size: 14px;
                        padding: 6px 10px 6px 0px;
                        margin: 0px;
                        font-weight: 600;
                        line-height: 14px;
					}
					
						#blog_tags .content > div .tabs .tab-content table.form > tbody > tr > td select, 
						#blog_tags .content > div .tabs .tab-content table.form > tbody > tr > td input,
						#blog_tags .html { 
							display: block;
                            margin: 0px;
                            padding: 0px;
                            font-size: 10px;
                            font-weight: 600;
                            color: #373737;
                            margin-right: 15px;
                            box-shadow: none;
                            -moz-box-shadow: none;
                            -webkit-box-shadow: none;
                            -webkit-border-radius: 20px;
                            border-radius: 20px;
                            -moz-border-radius: 20px;
                            padding: 10px 20px;
                            border: 1px solid #d8d7d3;
                            -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
                            -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
                            -o-transition: border linear 0.2s, box-shadow linear 0.2s;
                            transition: border linear 0.2s, box-shadow linear 0.2s;
							outline: 0;
						}
                        
                        #blog_tags .content > div .tabs .tab-content table.form > tbody > tr > td select {
                                min-height: 26px;
                                background: #f0efeb;
                                padding-right: 30px;
                                text-transform: uppercase;
                                background: #f0efeb url(../image/module_template/arrow_select.png) no-repeat;
                                background-position: right 12px center;
                                appearance: none;
                                -webkit-appearance: none;
                                -o-appearance: none;
                                -moz-appearance: none;
                            }
                            #blog_tags .content > div .tabs .tab-content table.form > tbody > tr > td select::-ms-expand {
                                display: none;
                            }
						
						     #blog_tags .html {
						          width: 100%;
						          max-width: 100%;
						          height: 300px;
						          margin: 0px !important;
						          outline: none;
						     }
						
							#blog_tags .content > div .tabs .tab-content table.form > tbody > tr > td input:focus,
							#blog_tags .html:focus {
								  border-color: rgba(82, 168, 236, 0.8);
								  outline: 0;
								  outline: thin dotted \9;
								  /* IE6-9 */
								
								  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
								     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
								          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
							}
						
		
     #blog_tags .content > div .buttons { 
            background: #3ebb24;
            height: 60px;
            margin: 0px 0px 0px 165px; 
        }

        #blog_tags .content > div .buttons .button-save { 
            display: block;
            border: none;
            cursor: pointer;
            text-indent: 100000px;
            width: 100%;
            height: 60px;
            cursor: pointer;
            background: url(../image/module_template/button-save.png) top center no-repeat;
            transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
        }

        #blog_tags .content > div .buttons .button-save:hover {
             background: #34af1b url(../image/module_template/button-save.png) top center no-repeat;
        }
			
/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


/* Table Form */

table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table.form > tbody > tr > td:first-child {
	width: 200px;
}

table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
}

/* Htabs */

.htabs {
	padding: 0px 30px 0px 30px;
    margin: 0 -30px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #dededc;
	margin-bottom: 15px;
}

.htabs a {
	border-top: 1px solid #dededc;
	border-left: 1px solid #dededc;
	border-right: 1px solid #dededc;
	background: #FFFFFF url('../image/module_template/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Poppins;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}

.tab-content .htabs a{
    border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px;
}

.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}


/* @group Module Layout */

.module-layouts {
     float: left;
     width: 400px;
     height: 300px;
     border: 1px solid #d8d7d3;
     overflow-y: scroll;
     margin-right: 5px;
     padding: 15px;
}

     .module-layout-title {
          background: #f2f2f2;
          border-bottom: 1px solid d8d7d3;
          padding: 15px 20px 15px 20px;
          font-family: Poppins;
          color: #4c4c4c;
          font-size: 14px;
          display: none;
     }

     .module-layout {
          padding: 3px;
     }
     
          .module-layout:hover {
          	background: #FFFFCB;
          }
          
          .module-layout input {
          	margin-top: 5px !important;
          	float: left;
          	margin-right: 15px;
            cursor: pointer;
            padding: 0 !important;
          }
          
          .module-layout p {
          	padding-top: 5px;
            font-size: 11px;
            line-height: 11px;
          }

/* @end */

.page-header h1 {
     color: #373737;
     font-family: Poppins;
     font-weight: 300;
     margin-bottom: 5px;
     margin-top: 7px;
}